/* Start of Variables*/
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --paragraph-color: #777;
  --section-background: #f6f6f6;
  --section-padding: 60px;
  --line-height: 1.6;
}
/* End of Variables */

/* Start of global styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End of global styles */

/* Start Component */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* End Component */

/* Start Header Styling */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  background-color: #eee;
  min-width: 200px;
  top: calc(100% + 20px);
  display: none;
  z-index: 1024;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: " ";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #222;
  transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ccc;
}
/* End Header Styling */

/* Start Landing styling */
.landing {
  position: relative;
  background-image: url(../img/85838144-black-and-white-mountain-in-switzerland.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  color: var(--main-color);
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: var(--line-height);
}
/* End Landing styling */

/* Start Feature Styling */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .container .item {
  text-align: center;
  border: solid 1px none;
  border-radius: 50px;
}

.features .container .item i {
  color: var(--main-color);
  font-size: 50px;
  padding-bottom: 20px;
}

.features .container .item h3 {
  font-weight: 800px;
  margin: 30px 0;
}
.features .container .item p {
  color: var(--paragraph-color);
  font-size: 18px;
  line-height: var(--line-height);
}
/* End Feature Styling */

/* Start Services Styling */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .container .services-content .col .card {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .container .services-content .col .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.services .container .services-content .col .card i {
  color: var(--main-color);
  flex-basis: 60px;
  padding-bottom: 20px;
}

.services .container .services-content .col .card .text {
  flex: 1;
}

.services .container .services-content .col .card .text h3 {
  margin: 0 0 20px;
}

.services .container .services-content .col .card .text p {
  color: var(--paragraph-color);
  font-weight: 300;
  line-height: var(--line-height);
}

.services .container .services-content .col .image {
  text-align: center;
  position: relative;
}

.services .container .services-content .col .image img {
  width: 260px;
}

.services .container .services-content .image::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}

@media (max-width: 1199px) {
  .services .container .services-content .col .image {
    display: none;
  }
}

/* End Services Styling */

/* Start Protofolio */
.protofolio {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.protofolio .container .port {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 60px;
}

.protofolio .container .port .col {
  background-color: white;
}

.protofolio .container .port .col img {
  max-width: 100%;
}

.protofolio .container .port .col .txt {
  padding: 20px;
}

.protofolio .container .port .col .txt h3 {
  margin: 0;
}

.protofolio .container .port .col .txt p {
  color: var(--paragraph-color);
  line-height: var(--line-height);
  margin-bottom: 0;
}

.protofolio .btn {
  text-align: center;
  padding-top: 50px;
}

.protofolio .btn button {
  background-color: var(--section-background);
  padding: 10px;
}

@media (max-width: 767px) {
  .protofolio .container .port .col .txt {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* End Protofolio */

/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.about .container .about-contant {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width:1003px) {
  .about .container .about-contant{
    flex-direction: column;
    text-align: center;
  }
}

.about .container .about-contant .image {
  position: relative;
  width: 250px;
  height: 250px;
}


.about .container .about-contant .image::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -20px;
  background-color: var(--section-background);
  width: 90px;
  height: calc(100%);
  z-index: -1;
}

.about .container .about-contant .image::after {
  content: "";
  position: absolute;
  right: -40px;
  top: -20px;
  width: 80px;
  height: 180px;
  border-left: 60px solid var(--main-color);
  border-bottom: 50px solid var(--main-color);
  z-index: -1;
}

@media (max-width:1003px) {
  .about .container .about-contant .image{
    margin:0 auto 60px;  
  }

  .about .container .about-contant .image::before,
  .about .container .about-contant .image::after {
    display: none;
  }
}

.about .container .about-contant .txt {
  flex-basis: calc(100% - 500px);
}

.about .container .about-contant .txt p:first-of-type{
  font-weight: bold;
  line-height: var(--line-height);
  margin-bottom: 40px;
}

.about .container .about-contant .txt hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .container .about-contant .txt p:last-of-type {
  line-height: var(--line-height);
  color: var(--paragraph-color);
}


/* End About */
.contact {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .contact-contant {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center; 
}

.contact .contact-contant p{
  font-size: 30px;
  font-weight: 800;
  color: var(--secondary-color);
}

.contact .contact-contant a{
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

.contact .contact-contant .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}

.contact .contact-contant .social i{
  margin-left: 20px;
  color: var(--secondary-color);
}

@media (max-width:767px) {
  .contact .contact-contant p{
  font-size: 24px;
  }
  .contact .contact-contant a{
  font-size: 20px;
  }
}

/* Start Footer styling */
.footer {
  background-color:var(--secondary-color);
  color: white;
  text-align: center;
  padding: 30px;
}

.footer span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}
/* End Footer styling */
/* End of leon.css */
